.App {
  font-family: sans-serif;
  margin: 0 auto;
  transition: background-color 0.5s ease;
  width: 60%;
}

.btn-theme {
  border-radius: 20px;
  border: 1px solid;
  border-color: #572ee5;
  width: 148px;
  height: 21px;
  top: 10px;
  position: relative;
  left: 40%;
}
.App.light {
  background-color: rgb(248, 248, 248);
  color: #572ee5;
}

.App.dark {
  transition: background-color 0.5s ease;
  background-color: rgb(46, 45, 46);
  color: #ffff;
  border: solid #ffff 1px
}
.galeria-contenedora{
  display: flex;
  margin-top: 18px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.referencia img {
  width: 240px;
  height: 240px;
  object-fit: cover
  box-sizing: border-box;
  margin-left: 4px
}


.dark .espaciobusqueda {
  border: solid 1px #ffff;
  background-color: #373737;
  color:#ffff
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-button {
  width: 40px;
  height: 30px;
  padding: 1px;
  background-color: #572EE5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cargandogif{
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.barradebusqueda{
  display: flex;
  height: 34px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.search-users{
  display: flex;
  height: 34px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.espaciobusqueda{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 25px;
  width: 100%;
  border: solid 1px
}

.search-button img{
  width: auto;
  height: auto;
}
@supports(object-fit: cover){
    .search-button img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}